DB_URL="postgres://root:password@localhost:5432/my_db"

PORT=6000
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=my_db
DB_PORT=5432
SSL_MODE=disable
CORS_ORIGIN=http://localhost:6000
JWT_SECRET=isisendiribebasdahsuka289
JWT_EXPIRY=30d
FIREBASE_CREDENTIALS_PATH=kana-fcm-firebase-adminsdk-fbsvc-48a9e2579b.json
NLP_BASE_URL=http://localhost:8001
NLP_API_KEY=your_development_secret_key_here
