DB_URL="postgres://root:password@localhost:5432/my_db"

PORT=6000
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=my_db
DB_PORT=5432
SSL_MODE=disable
CORS_ORIGIN=http://localhost:6000
JWT_SECRET=isisendiribebasdahsuka289
JWT_EXPIRY=30d
